In [37]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style 
style.use("ggplot")
import numpy as np

In [39]:
# create a dictonary
web_stats ={ "Day":[1,2,3,4,5,6],
            "Visitors":[43,53,34,45,64,34],
            "Bounce Rate":[65,72,62,64,54,66]
}

In [40]:
# create a dataframe
df =pd.DataFrame(web_stats)
df

   Bounce Rate  Day  Visitors
0           65    1        43
1           72    2        53
2           62    3        34
3           64    4        45
4           54    5        64
5           66    6        34

In [41]:
# calling 
print(df.head())
print(df.tail())
print(df.tail(2))

   Bounce Rate  Day  Visitors
0           65    1        43
1           72    2        53
2           62    3        34
3           64    4        45
4           54    5        64
   Bounce Rate  Day  Visitors
1           72    2        53
2           62    3        34
3           64    4        45
4           54    5        64
5           66    6        34
   Bounce Rate  Day  Visitors
4           54    5        64
5           66    6        34

In [42]:
# setting index 
df.set_index("Day",inplace=True)
print(df)

     Bounce Rate  Visitors
Day
1             65        43
2             72        53
3             62        34
4             64        45
5             54        64
6             66        34

In [43]:
# Reference specific column 
#df["Visitors"]
df.Visitors

Day
1    43
2    53
3    34
4    45
5    64
6    34
Name: Visitors, dtype: int64

In [44]:
# Reference multiple columns
print(df[["Bounce Rate","Visitors"]])

     Bounce Rate  Visitors
Day
1             65        43
2             72        53
3             62        34
4             64        45
5             54        64
6             66        34

In [45]:
# convert series to the list
print(df["Visitors"].tolist())

[43, 53, 34, 45, 64, 34]

In [46]:
print(df[["Bounce Rate","Visitors"]].tolist())

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [48]:
#  Convert dataFrame object to the array using numpy 
print(np.array(df[["Bounce Rate","Visitors"]]))

[[65 43]
 [72 53]
 [62 34]
 [64 45]
 [54 64]
 [66 34]]

In [50]:
#  Convert array  to the dataFrame
df2=pd.DataFrame(np.array(df[["Bounce Rate","Visitors"]]))
df2

    0   1
0  65  43
1  72  53
2  62  34
3  64  45
4  54  64
5  66  34